#breed-list {
    background-color: var(--background);
    min-height: 100dvh;
    padding-bottom: 120px;
}

.list__message {
    text-align: center;
}

#breed-list__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 850px) {
    #breed-list__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        justify-items: center;
        padding: 20px;
    }
}

@media screen and (min-width: 1500px) {
    #breed-list__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 2500px) {
    #breed-list__container {
        grid-template-columns: repeat(4, 1fr);
    }
}
